
{{#with event as |event|}}

  <div data-id="{{event.id}}" class="card text-center border-success">
  <div class="card-header">
    Your Event:
  </div>
  <div class="card-body">
    <h5 class="card-title">{{event.name}}</h5>
    <p class="card-text"><strong>Description: </strong>{{event.description}}</p>
    <p class="card-text"><strong>Where: </strong>{{event.location}}</p>
    <p class="card-text"><strong>When: </strong>{{event.date_time}}</p>
  </div>
  <div class="card-footer text-muted">
    <button data-id="{{event.id}}" class="btn delete-event" type="submit">Delete</button>
    <button data-id="{{event.id}}" class="btn btn-primary-success event-info" type="submit">Show More</button>
  </div>
  </div>

{{/with}}
